<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Aauthorization.js" asp-append-version="true"></script>

<div class="menu-content-wrapper">
	<div class="main-container">
		<div id="authorization-form">
			<div id="authorization-text">Авторизация</div>
			<input type="text" class="input-container" id="login-container">
			<input type="password" class="input-container" id="password-container">
			<div id="authorization-button">войти</div>
		</div>
	</div>
</div>
